<!DOCTYPE html>
<html>
  <head>
    <title>Traditional Chinese Checker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <link rel="icon" type="image/png" sizes="24x24" href="/favicon-24.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application.css" %>
    <%= vite_javascript_tag "application" %>
  </head>

  <body data-controller="<%= controller.controller_path.to_s %>" data-action="<%= controller.action_name.to_s %>">
    <div id="app" class="p-2">
      <%= yield %>
    </div>
  </body>
</html>
